.container {
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.allMessages {
    display: flex;
    flex-direction: column-reverse;
}

.messages {
    border: 1px solid black;
    margin: 5px auto;
    width: 400px;
    padding: 10px;
}

.dateTime {
    text-align: right;
}

.send {
    width: 450px;
    margin: 10px auto;
}

.author,
.message,
.sendBtn {
    display: block;
    margin: 15px auto;
}

.author,
.message,
.inputFileLabel {
    display: block;
    width: 98%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2%;
    font-size: 15px;
}

.inputFileLabel {
    color: #999999;
}

.image {
    display: none;
}

.avatar {
    width: 100px;
    height: 100px;
}